<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="1067781733084-s7ifha851qrqvg6tldgs1qqccm0vrpi6.apps.googleusercontent.com"
    />
    <meta name="google-signin-plugin_name" content="APP" />

    <script src="https://apis.google.com/js/platform.js"></script>
    <meta name="theme-color" content="#0D184F" />
    <title>Socialah - Create System Admins</title>
  </head>
  <body>
    <p>This page is currently under development.</p>
    <h1>Sign up</h1>
    <form action="/create-admins" method="post">
      <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" autocomplete="email" required />
      </div>
      <div>
        <label for="new-password">Password</label>
        <input
          id="new-password"
          name="password"
          type="password"
          autocomplete="new-password"
          required
        />
      </div>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
