<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: monospace;
        margin-top: 5%;
      "
    >
      <img
        src="https://crate.typepad.com/.a/6a00e55210ddf58834022ad38f9c77200d-pi"
        alt="Cancelled Event Image"
        style="max-width: 200px; max-height: 200px"
      />
      <h1>We have good news !</h1>
      <h2>An event that you were interested has finalised it's event time !</h2>
      <h2>Event finalised: ${event["title"]}</h2>
    </div>
  </body>
</html>
