<!DOCTYPE html>
<html lang="en" class="fix">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="1067781733084-s7ifha851qrqvg6tldgs1qqccm0vrpi6.apps.googleusercontent.com"
    />
    <meta name="google-signin-plugin_name" content="APP" />
    <title>Socialah - Sign Up</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/images/custom-favicon.png" />
    <link rel="shortcut icon" href="/images/custom-favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/scripts/ajax.js"></script>
    <script src="/scripts/signup.js"></script>
  </head>
  <body>
    <div class="login-main-container" id="wrapper">
      <div class="spinner-overlay">
        <div class="spinner-border text-warning" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="login-container">
        <img src="/images/blueLogo.png" alt="App logo" />
        <h1>Sign up</h1>
        <div id="alert-container">
          <div class="alert alert-success alert-bar" id="alert-success" @click="closeAlert">
            <span id="alert-success-text">Signup success</span>
            <button class="close alert-close" @click="closeAlert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="alert alert-danger alert-bar" id="alert-error">
            <span id="alert-error-text">Signup error</span>
            <button class="close alert-close" @click="closeAlert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <p class="auth-message"></p>
        <form action="/signup" @submit="onSubmit" method="post" id="signup-form">
          <div class="inputs">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="email"
              v-model="email"
              autocomplete="email"
              required
              class="input-box"
            />
          </div>
          <div class="inputs">
            <label for="new-password">Password</label>
            <input
              id="new-password"
              name="password"
              type="password"
              v-model="password"
              autocomplete="new-password"
              required
              class="input-box"
            />
          </div>
          <div class="inputs">
            <label for="confirm-password"> Confirm Password</label>
            <input
              id="confirm-password"
              name="confirm-password"
              type="password"
              v-model="confirm_password"
              required
              class="input-box"
            />
          </div>
          <button type="submit" class="button-1">Sign Up</button>
          <img src="/images/orImg.svg" alt="orLayout" class="or-image sign-up-or-image" />
          <div
            class="g-signin2 googleButton"
            data-onsuccess="onSignIn"
            data-height="50"
            data-width="1000px"
            data-longtitle="true"
          ></div>
          <div class="n-account">
            <p>Have an account?</p>
            &nbsp
            <a href="/login" class="links">Login</a>
          </div>
        </form>
      </div>
      <img src="/images/signUpImg.png" alt="Community" id="sign-up-image" />
    </div>
  </body>
</html>
