<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="1067781733084-s7ifha851qrqvg6tldgs1qqccm0vrpi6.apps.googleusercontent.com"
    />
    <meta name="google-signin-plugin_name" content="APP" />
    <title>Socialah - Sign Up</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="/images/custom-favicon.png" />
    <link rel="shortcut icon" href="/images/custom-favicon.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/scripts/ajax.js"></script>
    <script src="/scripts/signup.js"></script>
  </head>
  <body>
    <div style="display: flex">
      <div class="loginContainer">
        <img src="/images/blueLogo.png" alt="App logo" />
        <h1>Sign up</h1>
        <p class="authMessage"></p>
        <form action="/signup" @submit="onSubmit" method="post" id="signup-form">
          <div class="inputs">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="email"
              v-model="email"
              autocomplete="email"
              required
              class="inputBox"
            />
          </div>
          <div class="inputs">
            <label for="new-password">Password</label>
            <input
              id="new-password"
              name="password"
              type="password"
              v-model="password"
              autocomplete="new-password"
              required
              class="inputBox"
            />
          </div>
          <div class="inputs">
            <label for="confirm-password"> Confirm Password</label>
            <input
              id="confirm-password"
              name="confirm-password"
              type="password"
              v-model="confirm_password"
              required
              class="inputBox"
            />
          </div>
          <button type="submit" class="button1">Sign Up</button>
          <img
            src="/images/orImg.png"
            alt="orLayout"
            class="orImage"
            style="margin: 20px 0px 20px 0"
          />
          <div class="g-signin2 googleButton" data-onsuccess="onSignIn"></div>
          <p class="nAccount">Have an account?&nbsp<a href="/login" class="links">Login</a></p>
          <p></p>
        </form>
      </div>
      <img
        src="/images/signUpImg.png"
        alt="Community"
        id="signUpIMG"
        style="width: 50%; object-fit: cover; max-height: 100vh"
      />
    </div>
  </body>
</html>
