<!-- User confirm attendance -->
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
    margin-top: 5%;
  "
>
  <img
    src="https://cdn-icons-png.flaticon.com/512/4353/4353420.png"
    alt="Confetti Image"
    style="max-width: 200px; max-height: 200px"
  />
</div>

<!-- Event is cancelled -->

<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
    margin-top: 5%;
  "
>
  <img
    src="https://thumbs.dreamstime.com/b/bubble-handwriting-lettering-sorry-vintage-vector-engraving-speech-black-beige-illustration-poster-info-graphic-web-176397490.jpg"
    alt="Cancelled Event Image"
    style="max-width: 200px; max-height: 200px"
  />
  <h1>We are very sad to inform you that...</h1>
  <h2>An event that you were interested in was cancelled !></h2>
  <h2>Event cancelled: ${event["title"]}</h2>
</div>

<!-- Event is finalised -->
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
    margin-top: 5%;
  "
>
  <img
    src="https://cdn-icons-png.flaticon.com/512/4353/4353420.png"
    alt="Confetti Image"
    style="max-width: 200px; max-height: 200px"
  />
  <h1>An event that you were interested in has finalised it's event time</h1>
  <h2>Event finalised: ${event["title"]}</h2>

  <a
    style="
      padding: 10px;
      color: white;
      background-color: #0d184f;
      border-radius: 10px;
      border: none;
      margin: 30px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      height: 50px;
      text-decoration: none;
    "
  >
    Confirm Attendance
  </a>
</div>
