/*
  Table of Contents:
  1. Utilities
  2. Navigation
  3. Footer
  4. Profile
  5. Login
  6. Sign Up
*/

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300,700&display=swap");

/* 1. Utilities */

body {
  font-family: "Barlow", sans-serif;
  background-color: #f9f9f9;
}

a {
  color: #00b7ff;
}

@media screen and (max-width: 992px) {
  .mobile-hide {
    display: none !important;
  }

  .desktop-hide {
    display: block !important;
  }
}

/* 2. Navigation */
.navbar-image {
  height: 60px;
}

.navbar {
  background-color: #0d184f;
}

.navbar-nav-desktop {
  display: flex;
  align-items: center;
}

.navbar-nav-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-searchbar {
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid #aaa;
  border-right: none;
}

.navbar-searchbar:focus {
  box-shadow: none;
}

.navbar-searchbar::placeholder {
  color: #aaa;
}

.navbar-searchbar-icon {
  display: flex;
  align-items: center;
  color: #aaa;
  background-color: white;
  padding: 0.375rem 0.75rem;
  border: 1px solid #aaa;
  border-left: none;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-searchbar-icon:focus {
  outline: none;
}

.navbar-searchbar-form {
  width: 100%;
}

.navbar-searchbar-form-desktop {
  width: unset;
}

.navbar-dark .nav-item .nav-link {
  color: white;
}

.nav-item .nav-link:hover {
  opacity: 0.8;
  transition: 0.3s;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
}

/* 3. Footer */
.footer {
  background: white;
  padding: 10px 0px;
}

.footer p {
  margin-bottom: 0px;
  color: #aaa;
  font-weight: 600;
}

/* 4. Profile */

.div1 {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
}
.profileHeader {
  font-weight: bold;
  margin-top: 40px;
}
.mainCointainer {
  display: flex;
  flex-direction: row;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* padding: 0 4% 0 4%; */
  box-sizing: border-box;
  font-weight: bold;
}

.profileName {
  display: flex;
  justify-content: space-between;
}

.names {
  width: 45%;
}
.banner1 {
  background-color: #0d184f !important;
  color: white !important;
  border-color: white;
}

.form1 {
  margin-bottom: 20%;
}
.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.inputBox {
  border: 1px solid #aaa;
  border-radius: 8px;
  width: 100%;
  padding: 5px 0px 5px 15px;
  box-sizing: border-box;
  font-weight: 600;
}

.button1 {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #0d184f;
  border-radius: 10px;
  border: none;
  margin: 30px auto 0 auto;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
}

.button2 {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 50px;
}
.button1:hover {
  color: #0d184f;
  background-color: #f3c61f;
  transition: 0.5s;
}
.profileContainer {
  display: flex;
}
.profilePic {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }
  .form1 {
    width: 100%;
  }
  .profIMG {
    width: 100%;
  }
}

/* 5. Login */

.loginMainContainer {
  display: flex;
}
.loginContainer {
  width: 50%;
  padding: 3% 5% 0 5%;
  box-sizing: border-box;
  font-weight: bold;
  margin-top: -2%;
}
.loginContainer h1 {
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 8%;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
.orImage {
  width: 100%;
  margin-top: 8%;
}

.nAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.nAccount p {
  margin: 0;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

/*6. Create an Event */
