/*
  Table of Contents:
  1. Utilities
  2. Navigation
  3. Footer
  4. Profile
  5. Login
  6. Sign Up
  7. Events List
  8. Verify Account
  9. Specify Availability
  10. Admin View
  11. My Events
*/

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap");

/* 1. Utilities */

body {
  font-family: "Barlow", sans-serif;
  background-color: #f9f9f9;
}

a {
  color: #00b7ff;
}

a:hover {
  color: unset;
  text-decoration: none;
}

button:focus {
  outline: none;
}

input:disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.display-none {
  display: none;
}

.alert-bar {
  margin-top: 40px;
  display: none;
}

.alert-bar span {
  font-weight: 500;
}

#alert-error-text span {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.spinner-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.spinner-border {
  color: rgb(13, 24, 79);
}

.auth-wrapper {
  min-height: 100vh;
}

.g-signin2 {
  border-radius: 10px;
  box-sizing: border-box;
  height: 50px;
}

p.description {
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  .mobile-hide {
    display: none !important;
  }

  .desktop-hide {
    display: block !important;
  }

  body {
    margin-bottom: 100px;
  }
}

/* 2. Navigation */
.navbar-image {
  height: 60px;
}

.navbar {
  background-color: #0d184f;
}

.navbar-nav-desktop {
  display: flex;
  align-items: center;
}

.navbar-nav-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-searchbar {
  border-radius: 10px;
  padding-left: 20px;
  border: 1px solid #aaa;
  border-right: none;
}

.navbar-searchbar:focus {
  box-shadow: none;
}

.navbar-searchbar::placeholder {
  color: #aaa;
}

.navbar-searchbar-icon {
  display: flex;
  align-items: center;
  color: #aaa;
  background-color: white;
  padding: 0.375rem 0.75rem;
  border: 1px solid #aaa;
  border-left: none;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-searchbar-icon:focus {
  outline: none;
}

.navbar-searchbar-form {
  width: 100%;
}

.navbar-searchbar-form-desktop {
  width: unset;
}

.navbar-dark .nav-item .nav-link {
  color: white;
}

.nav-item .nav-link:hover {
  opacity: 0.8;
  transition: 0.3s;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }
}

/* Dropdown */
.navbar-profile-picture {
  height: 40px;
  border-radius: 50%;
  width: 40px;
  object-fit: cover;
}

.dropdown-item {
  font-weight: 400;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-dropdown-icon {
  display: inline-block;
  margin-left: 8px;
  font-size: 20px;
}

/* 3. Footer */
.footer {
  background: white;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin-bottom: 0px;
  color: #aaa;
  font-weight: 600;
}

/* 4. Profile */

.div1 {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
}
.profileHeader {
  font-weight: bold;
  margin-top: 40px;
}
.mainContainer {
  display: flex;
  flex-direction: row;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* padding: 0 4% 0 4%; */
  box-sizing: border-box;
  font-weight: bold;
}

.profileName {
  display: flex;
  justify-content: space-between;
}

.names {
  width: 45%;
}
.banner1 {
  background-color: #0d184f !important;
  color: white !important;
  border-color: white;
}

.form1 {
  margin-bottom: 20%;
}
.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  font-weight: normal;
  margin-left: 10px;
}

.inputBox {
  border: 1px solid #aaa;
  border-radius: 8px;
  width: 100%;
  padding: 5px 0px 5px 15px;
  box-sizing: border-box;
  font-weight: 400;
}

.button1 {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #0d184f;
  border-radius: 10px;
  border: none;
  margin: 30px auto 0 auto;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
}

.button2 {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 50px;
}

.button2:hover {
  transition: 0.1s;
  background-color: rgba(220, 220, 220, 0.8);
}

.button1:hover {
  background-color: rgba(13, 24, 79, 0.85);
  transition: 0.1s;
}

.profileContainer {
  display: flex;
}
.profileIMG {
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
  margin-bottom: 10px;
  height: 100%;
  max-height: 150px;
  object-fit: cover;
}
.profilePic {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .mainContainer {
    flex-direction: column;
  }
  .profileContainer {
    width: 100% !important;
    margin-bottom: -80px;
  }
  .profilePic {
    width: 100% !important;
  }
  .form1 {
    width: 100%;
  }
  .profileIMG {
    height: 60px;
    width: 60px;
  }
}

/* 5. Login */
.loginMainContainer {
  display: flex;
}
.loginContainer {
  width: 50%;
  padding: 3% 5% 0 5%;
  box-sizing: border-box;
  font-weight: bold;
  margin-top: -2%;
}
.loginContainer h1 {
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 8%;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
.orImage {
  width: 100%;
  margin: 20px 0px 20px 0;
}

.authMessage {
  color: red;
  font-weight: 500;
  margin-bottom: 0;
}

.googleButton .abcRioButton {
  width: 100% !important;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  box-shadow: none;
}
.googleButton .abcRioButton .abcRioButtonContents {
  margin-left: 0px;
  margin-right: 34px;
}
.nAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.nAccount p {
  margin: 0;
  font-weight: normal;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

@media only screen and (max-width: 992px) {
  .loginMainContainer {
    flex-direction: column;
    justify-content: center;
  }

  #loginIMG {
    display: none;
  }
  #signUpIMG {
    display: none;
  }
  .loginContainer {
    width: 100%;
  }
  .loginContainer a {
    text-align: center !important;
  }
}

/*6. Create an Event */
.form2 {
  display: flex;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  margin-bottom: 20%;
}

.createEventDiv {
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.timeBox {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.timeBox p {
  margin-bottom: 0;
  box-sizing: border-box;
  padding-right: 5px;
}

/*7. Events List*/

.eventListBanner {
  height: 250px;
  width: 100%;
  background: linear-gradient(89.73deg, #4b4b4b 39.06%, rgba(95, 92, 92, 0) 99.74%),
    url("/images/eventsListImage.png");
  background-size: cover;
  font-size: 54px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.eventContainer {
  display: flex;
  flex-direction: column;
  width: 22%;
  box-sizing: border-box;
  margin: 0 1.5% 4% 1.5%;
}

#eventsList {
  display: flex;
  flex-wrap: wrap;

  margin-top: 4%;
}

.eventDetails {
  font-weight: 500;
  padding: 4%;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.eventDetails p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.event-horizontal {
  display: flex;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  margin-top: 30px;
}

.event-horizontal-content {
  width: 100%;
  padding: 12px 30px;
}

.event-horizontal-title {
  font-weight: bold;
}

.event-horizontal-image {
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 100%;
  max-width: 240px;
  max-height: 160px;
  display: block;
  object-fit: cover;
}

.event-horizontal-date {
  color: #d9b11f;
}

.eventIMG {
  border-radius: 5%;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

@media only screen and (max-width: 992px) {
  #eventsList {
    flex-direction: column !important;
  }
  .eventContainer {
    margin: 0 3% 6% 3%;
    width: 100%;
  }
}

/* 8. Verify Account */
.verifyAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14%;
}

.verifyAccount h1,
.verifyAccount h2,
.verifyAccount h3 {
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  .verifyAccount h1 {
    font-size: 24px;
  }
  .verifyAccount h2 {
    font-size: 18px;
  }

  .verifyAccount h3 {
    font-size: 16px;
  }
}

/* 9. Specify Availability */
.checkmark-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkmark-container.selected {
  background: #0d184f;
}

.checkmark-container.selected .checkmark-inner {
  color: white;
}

.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  left: 0;
  z-index: 2;
}

/* Create a custom checkbox */
.checkmark-icon {
  height: 20px;
  width: 20px;
  display: block;
  margin-right: 10px;
  position: relative;
}

.checkmark-inner {
  display: flex;
  align-items: center;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-icon:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark-inner .checkmark-icon:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark-icon:after {
  left: 7px;
  top: 2px;
  position: absolute;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* 10. Admin View */

.adminContainer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.admin-table {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.admin-table tr:nth-child(2n) {
  background-color: #e8e8e8;
}
.admin-table th {
  padding: 1.5% 0 1.5% 0;
  text-align: center;
}

.admin-table td {
  padding: 10px 0 10px 0;
  text-align: center;
}
/* 11. My Events */
.events-type-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.events-type-row button {
  width: 40%;
  margin: 0;
}

.events-type-row button:first-child {
  margin-right: 20px;
}

.cta-row {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cta-row a {
  margin-top: 0;
  text-align: center;
  width: 40%;
}

.cta-row .button1:hover {
  color: white;
}

.cta-row .button2 {
  margin-top: 0;
  text-align: center;
  color: #0d184f;
}

.cta-row button:first-child {
  margin-right: 20px;
}

.left-section {
  width: 60%;
}

.right-section {
  width: 30%;
  margin-left: 10%;
}

.no-events-message {
  margin-top: 40px;
}

.large-cta-container {
  margin-top: 100px;
}

.large-cta-container h1 {
  text-align: center;
}

.create-event-cta-container {
  padding: 50px 40px;
  background: #0d184f;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 10px;
}

.create-event-cta-container a {
  width: 100%;
  background-color: white;
  color: #0d184f;
}

.create-event-cta-container h3 {
  font-weight: bold;
}

.create-event-cta-container p {
  margin-top: 20px;
  margin-bottom: 40px;
}

.create-event-cta-container a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 992px) {
  .left-section {
    width: 100%;
  }

  .right-section {
    margin-top: 100px;
    width: 100%;
    margin-left: 0;
  }

  .create-event-cta-container {
    width: 80%;
    margin: 0 auto;
  }

  .no-events-message {
    text-align: center;
  }

  .events-type-row {
    justify-content: center;
  }
}
